In [38]:
import pandas as pd
import numpy as np
import os

In [39]:
os.chdir('..')

In [40]:
from database.database_connection import DatabaseConnection
from database.database import DatabaseProcessor

In [41]:
database_connection = DatabaseConnection()
database_processor = DatabaseProcessor()

In [42]:
connection = database_connection.connect()

Successfully connected to the database.

In [43]:
query = 'SELECT * FROM xdr_data'

df = database_connection.execute_query(query= query)

In [44]:
df

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.304243e+19,4/24/2019 4:04,538.0,4/25/2019 4:04,564.0,86400.0,2.082019e+14,3.365976e+10,8.637690e+13,T86662C,...,20176790.0,7248835.0,19496552.0,19034426.0,842697621.0,3968584.0,87870953.0,5838574.0,37054908.0,893366791.0
1,1.304243e+19,4/24/2019 4:05,469.0,4/25/2019 4:05,488.0,86400.0,2.082014e+14,3.366494e+10,8.637690e+13,L85707A,...,8681610.0,20396543.0,17156656.0,21471320.0,356371884.0,14928486.0,770046282.0,5960843.0,65043142.0,386304165.0
2,1.304243e+19,4/24/2019 4:05,757.0,4/25/2019 4:05,798.0,86400.0,2.082017e+14,3.365025e+10,8.637690e+13,T88971A,...,11817925.0,16553354.0,4853359.0,6858075.0,372584526.0,6923073.0,770970405.0,10022383.0,43737721.0,396995384.0
3,7.277826e+18,4/24/2019 4:05,173.0,4/25/2019 0:49,672.0,74650.0,2.082095e+14,3.366576e+10,3.534681e+13,D87831A,...,2057129.0,2957404.0,13853948.0,16432581.0,434602995.0,14182078.0,73443155.0,13986735.0,50513414.0,463677578.0
4,1.304243e+19,4/24/2019 4:05,423.0,4/25/2019 4:05,464.0,86400.0,2.082017e+14,3.363529e+10,3.554001e+13,L40281C,...,20841068.0,10980409.0,15434400.0,6783821.0,300103370.0,14506616.0,618030971.0,6867813.0,41561530.0,346187516.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,7.277826e+18,4/24/2019 4:04,598.0,4/25/2019 4:04,605.0,86400.0,2.082018e+14,3.365871e+10,8.637690e+13,L77140B,...,13999949.0,509869.0,5695833.0,14965078.0,749743270.0,2327066.0,823882019.0,633068.0,21989064.0,778476685.0
149997,1.304243e+19,4/24/2019 4:04,474.0,4/25/2019 4:04,485.0,86400.0,2.082018e+14,3.369933e+10,8.637690e+13,T74426A,...,22902143.0,2667186.0,18299392.0,14942869.0,422942701.0,15618436.0,42254120.0,6359062.0,43120463.0,481719644.0
149998,1.304243e+19,4/24/2019 4:04,620.0,4/25/2019 4:04,554.0,86399.0,2.082014e+14,3.365880e+10,8.654080e+13,T73336B,...,13609890.0,1519389.0,8364844.0,8180320.0,218183377.0,11690021.0,781589063.0,13120138.0,38643684.0,245071475.0
149999,1.304243e+19,4/24/2019 4:04,306.0,4/25/2019 4:04,289.0,86399.0,2.082014e+14,3.365882e+10,8.637690e+13,T88747B,...,2253929.0,1559883.0,16681523.0,14136765.0,103978699.0,14106542.0,135550152.0,9128163.0,39849714.0,131557614.0
150000,7.277826e+18,4/24/2019 4:04,832.0,4/25/2019 4:04,775.0,86399.0,2.082009e+14,3.376204e+10,8.637690e+13,D94458A,...,20471144.0,20630329.0,13342640.0,10097636.0,204352390.0,7846954.0,709298443.0,1091183.0,42718301.0,250847392.0

In [45]:
df.isnull().sum()

Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                           572
Handset Type                                   572
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64

In [32]:
#check the datatypes of the columns and see if they are correct
df.dtypes

Bearer Id                                   float64
Start                                        object
Start ms                                    float64
End                                          object
End ms                                      float64
Dur. (ms)                                   float64
IMSI                                        float64
MSISDN/Number                               float64
IMEI                                        float64
Last Location Name                           object
Avg RTT DL (ms)                             float64
Avg RTT UL (ms)                             float64
Avg Bearer TP DL (kbps)                     float64
Avg Bearer TP UL (kbps)                     float64
TCP DL Retrans. Vol (Bytes)                 float64
TCP UL Retrans. Vol (Bytes)                 float64
DL TP < 50 Kbps (%)                         float64
50 Kbps < DL TP < 250 Kbps (%)              float64
250 Kbps < DL TP < 1 Mbps (%)               float64
DL TP > 1 Mbps (%)                          float64
UL TP < 10 Kbps (%)                         float64
10 Kbps < UL TP < 50 Kbps (%)               float64
50 Kbps < UL TP < 300 Kbps (%)              float64
UL TP > 300 Kbps (%)                        float64
HTTP DL (Bytes)                             float64
HTTP UL (Bytes)                             float64
Activity Duration DL (ms)                   float64
Activity Duration UL (ms)                   float64
Dur. (ms).1                                 float64
Handset Manufacturer                         object
Handset Type                                 object
Nb of sec with 125000B < Vol DL             float64
Nb of sec with 1250B < Vol UL < 6250B       float64
Nb of sec with 31250B < Vol DL < 125000B    float64
Nb of sec with 37500B < Vol UL              float64
Nb of sec with 6250B < Vol DL < 31250B      float64
Nb of sec with 6250B < Vol UL < 37500B      float64
Nb of sec with Vol DL < 6250B               float64
Nb of sec with Vol UL < 1250B               float64
Social Media DL (Bytes)                     float64
Social Media UL (Bytes)                     float64
Google DL (Bytes)                           float64
Google UL (Bytes)                           float64
Email DL (Bytes)                            float64
Email UL (Bytes)                            float64
Youtube DL (Bytes)                          float64
Youtube UL (Bytes)                          float64
Netflix DL (Bytes)                          float64
Netflix UL (Bytes)                          float64
Gaming DL (Bytes)                           float64
Gaming UL (Bytes)                           float64
Other DL (Bytes)                            float64
Other UL (Bytes)                            float64
Total UL (Bytes)                            float64
Total DL (Bytes)                            float64
dtype: object

In [46]:
#check for duplicated values
duplicated =df.duplicated()
print(duplicated.sum())

0

In [47]:
# exclude columns that are not necessary to analyse use engagment from the whole dataset
columns_to_exclude = [
    'Bearer Id', 'IMSI', 'IMEI', 'Last Location Name', 'Avg RTT DL (ms)', 'Avg RTT UL (ms)',
    'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)', 'TCP DL Retrans. Vol (Bytes)',
    'TCP UL Retrans. Vol (Bytes)', 'DL TP < 50 Kbps (%)', '50 Kbps < DL TP < 250 Kbps (%)',
    '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)', 'UL TP < 10 Kbps (%)',
    '10 Kbps < UL TP < 50 Kbps (%)', '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)',
    'Dur. (ms).1', 'Handset Manufacturer', 'Handset Type', 'Nb of sec with 125000B < Vol DL',
    'Nb of sec with 1250B < Vol UL < 6250B', 'Nb of sec with 31250B < Vol DL < 125000B',
    'Nb of sec with 37500B < Vol UL', 'Nb of sec with 6250B < Vol DL < 31250B',
    'Nb of sec with 6250B < Vol UL < 37500B', 'Nb of sec with Vol DL < 6250B',
    'Nb of sec with Vol UL < 1250B'
]

df = df.drop(columns=columns_to_exclude)

In [48]:
df.head()

,Start,Start ms,End,End ms,Dur. (ms),MSISDN/Number,HTTP DL (Bytes),HTTP UL (Bytes),Activity Duration DL (ms),Activity Duration UL (ms),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,4/24/2019 4:04,538.0,4/25/2019 4:04,564.0,86400.0,3.365976e+10,168376187.0,3167876.0,4939945.0,5445123.0,...,20176790.0,7248835.0,19496552.0,19034426.0,842697621.0,3968584.0,87870953.0,5838574.0,37054908.0,893366791.0
1,4/24/2019 4:05,469.0,4/25/2019 4:05,488.0,86400.0,3.366494e+10,5192346.0,238359.0,427423.0,301813.0,...,8681610.0,20396543.0,17156656.0,21471320.0,356371884.0,14928486.0,770046282.0,5960843.0,65043142.0,386304165.0
2,4/24/2019 4:05,757.0,4/25/2019 4:05,798.0,86400.0,3.365025e+10,676170741.0,12060294.0,5575335.0,911081.0,...,11817925.0,16553354.0,4853359.0,6858075.0,372584526.0,6923073.0,770970405.0,10022383.0,43737721.0,396995384.0
3,4/24/2019 4:05,173.0,4/25/2019 0:49,672.0,74650.0,3.366576e+10,444840.0,91271.0,129716.0,119787.0,...,2057129.0,2957404.0,13853948.0,16432581.0,434602995.0,14182078.0,73443155.0,13986735.0,50513414.0,463677578.0
4,4/24/2019 4:05,423.0,4/25/2019 4:05,464.0,86400.0,3.363529e+10,58534598.0,1673799.0,3447674.0,3526940.0,...,20841068.0,10980409.0,15434400.0,6783821.0,300103370.0,14506616.0,618030971.0,6867813.0,41561530.0,346187516.0

In [ ]:
missing_values = df.isnull().sum()

missing_values

Bearer Id                      991
Start                            1
Start ms                         1
End                              1
End ms                           1
Dur. (ms)                        1
MSISDN/Number                 1066
HTTP DL (Bytes)              81474
HTTP UL (Bytes)              81810
Activity Duration DL (ms)        1
Activity Duration UL (ms)        1
Social Media DL (Bytes)          0
Social Media UL (Bytes)          0
Google DL (Bytes)                0
Google UL (Bytes)                0
Email DL (Bytes)                 0
Email UL (Bytes)                 0
Youtube DL (Bytes)               0
Youtube UL (Bytes)               0
Netflix DL (Bytes)               0
Netflix UL (Bytes)               0
Gaming DL (Bytes)                0
Gaming UL (Bytes)                0
Other DL (Bytes)                 0
Other UL (Bytes)                 0
Total UL (Bytes)                 1
Total DL (Bytes)                 1
dtype: int64

In [49]:
#fill missing values with mean vaue of the column 

Columns_to_exclude = ['Bearer Id','Start','End']
for column in df.columns:
    if column not in Columns_to_exclude:
        df[column]=df[column].fillna(df[column].mean())

In [50]:
#check for missing values again 
df.isnull().sum()

Start                        1
Start ms                     0
End                          1
End ms                       0
Dur. (ms)                    0
MSISDN/Number                0
HTTP DL (Bytes)              0
HTTP UL (Bytes)              0
Activity Duration DL (ms)    0
Activity Duration UL (ms)    0
Social Media DL (Bytes)      0
Social Media UL (Bytes)      0
Google DL (Bytes)            0
Google UL (Bytes)            0
Email DL (Bytes)             0
Email UL (Bytes)             0
Youtube DL (Bytes)           0
Youtube UL (Bytes)           0
Netflix DL (Bytes)           0
Netflix UL (Bytes)           0
Gaming DL (Bytes)            0
Gaming UL (Bytes)            0
Other DL (Bytes)             0
Other UL (Bytes)             0
Total UL (Bytes)             0
Total DL (Bytes)             0
dtype: int64

In [52]:
#transform the date columns to datetime
df['Start'] = pd.to_datetime(df['Start'])
df['End'] = pd.to_datetime(df['End'])

#calculate session durarion from the start and end columns
df['Session duration (s)'] = (df['End'] - df['Start']).dt.total_seconds()
#calculate total data transferred for each session
df['Total Data (DL+UL) (Bytes)'] = df['Total DL (Bytes)'] + df['Total UL (Bytes)']
# aggregate each session per user and calculate the session fequency, session duration, total data transferred 

user_engagment_metric = df.groupby('MSISDN/Number').agg({
    'Session duration (s)': 'sum', # total session duration
    'Total Data (DL+UL) (Bytes)': 'sum', # total session data
    'Start': 'count' #session frequency
})

user_engagment_metric = df.rename(columns={
    'Session duration (s)': 'Total Session Duration (s)',
    'Total Data (DL+UL) (Bytes)': 'Total Data (Bytes)',
    'Start': 'Session Frequency'
})