In [30]:
import pandas as pd
import matplotlib as  plt
import os

In [31]:
os.chdir('..')

In [ ]:
from database.database_connection import DatabaseConnection
from database.database import DatabaseProcessor
from src.utils import  check_missing_values  , filter_numerical_columns, check_duplicates

In [10]:
database_connection = DatabaseConnection()
database_processor = DatabaseProcessor()

In [ ]:
connection = database_connection.connect()

Successfully connected to the database.

In [12]:
query = 'SELECT * FROM xdr_data'
df = database_connection.execute_query(query)

In [ ]:
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [14]:
df.columns

Index(['Bearer Id', 'Start', 'Start ms', 'End', 'End ms', 'Dur. (ms)', 'IMSI',
       'MSISDN/Number', 'IMEI', 'Last Location Name', 'Avg RTT DL (ms)',
       'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)',
       'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)',
       'DL TP < 50 Kbps (%)', '50 Kbps < DL TP < 250 Kbps (%)',
       '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)',
       'UL TP < 10 Kbps (%)', '10 Kbps < UL TP < 50 Kbps (%)',
       '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)',
       'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Activity Duration DL (ms)',
       'Activity Duration UL (ms)', 'Dur. (ms).1', 'Handset Manufacturer',
       'Handset Type', 'Nb of sec with 125000B < Vol DL',
       'Nb of sec with 1250B < Vol UL < 6250B',
       'Nb of sec with 31250B < Vol DL < 125000B',
       'Nb of sec with 37500B < Vol UL',
       'Nb of sec with 6250B < Vol DL < 31250B',
       'Nb of sec with 6250B < Vol UL < 37500B',
       'Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B',
       'Social Media DL (Bytes)', 'Social Media UL (Bytes)',
       'Google DL (Bytes)', 'Google UL (Bytes)', 'Email DL (Bytes)',
       'Email UL (Bytes)', 'Youtube DL (Bytes)', 'Youtube UL (Bytes)',
       'Netflix DL (Bytes)', 'Netflix UL (Bytes)', 'Gaming DL (Bytes)',
       'Gaming UL (Bytes)', 'Other DL (Bytes)', 'Other UL (Bytes)',
       'Total UL (Bytes)', 'Total DL (Bytes)'],
      dtype='object')

In [ ]:
# check for duplicated values
isduplicated = df.duplicated()
isduplicated.any()

np.False_

In [ ]:
#check for missing values
missing_values = check_missing_values(df)
missing_values

,missing_values,missing_values_percentage,datatype
Bearer Id,991,0.660662,float64
Start,1,0.000667,object
Start ms,1,0.000667,float64
End,1,0.000667,object
End ms,1,0.000667,float64
Dur. (ms),1,0.000667,float64
IMSI,570,0.379997,float64
MSISDN/Number,1066,0.710662,float64
IMEI,572,0.381331,float64
Last Location Name,1153,0.768662,object
Avg RTT DL (ms),27829,18.552543,float64
Avg RTT UL (ms),27812,18.541210,float64
Avg Bearer TP DL (kbps),1,0.000667,float64
Avg Bearer TP UL (kbps),1,0.000667,float64
TCP DL Retrans. Vol (Bytes),88146,58.763608,float64
TCP UL Retrans. Vol (Bytes),96649,64.432237,float64
DL TP < 50 Kbps (%),754,0.502663,float64
50 Kbps < DL TP < 250 Kbps (%),754,0.502663,float64
250 Kbps < DL TP < 1 Mbps (%),754,0.502663,float64
DL TP > 1 Mbps (%),754,0.502663,float64
UL TP < 10 Kbps (%),792,0.527996,float64
10 Kbps < UL TP < 50 Kbps (%),792,0.527996,float64
50 Kbps < UL TP < 300 Kbps (%),792,0.527996,float64
UL TP > 300 Kbps (%),792,0.527996,float64
HTTP DL (Bytes),81474,54.315638,float64
HTTP UL (Bytes),81810,54.539636,float64
Activity Duration DL (ms),1,0.000667,float64
Activity Duration UL (ms),1,0.000667,float64
Dur. (ms).1,1,0.000667,float64
Handset Manufacturer,572,0.381331,object
Handset Type,572,0.381331,object
Nb of sec with 125000B < Vol DL,97538,65.024900,float64
Nb of sec with 1250B < Vol UL < 6250B,92894,61.928920,float64
Nb of sec with 31250B < Vol DL < 125000B,93586,62.390251,float64
Nb of sec with 37500B < Vol UL,130254,86.835421,float64
Nb of sec with 6250B < Vol DL < 31250B,88317,58.877607,float64
Nb of sec with 6250B < Vol UL < 37500B,111843,74.561503,float64
Nb of sec with Vol DL < 6250B,755,0.503330,float64
Nb of sec with Vol UL < 1250B,793,0.528663,float64
Total UL (Bytes),1,0.000667,float64
Total DL (Bytes),1,0.000667,float64

In [19]:
# fix missing values by filling with the mean

columns_with_numerical_values = filter_numerical_columns(df)
columns_with_numerical_values

NameError: name 'filter_numerical_columns' is not defined

In [17]:
# Key words and their meaning 
# CDR -> Call Detail Record
# xDR -> Data session detail record

In [18]:
# xDR analysis

In [ ]:
#Number of xDR sessions per user